<button class="btn btn-ghost">
    <div class="indicator">
        {{ heroicons('shopping-cart', 5) }}
        <span class="badge badge-xs badge-primary indicator-item"> {{ cart.items|length }}</span>
    </div>
</button>
